body {
  background-image: url("./calc.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
  height: 90vh;
}

h1 {
  color: white;
  font-family: monospace;
  padding-bottom: 10px;
}

h2 {
  width: 380px;
  text-align: right;
  height: 40px;
  background-color: honeydew;
  padding: 10px;
}

.container {
  width: 400px;
  margin: auto;
  padding: 5px;
  margin-top: 100px;
  text-align: center;
  border-radius: 3px;
  background-color: rgb(99, 46, 11);
  border: 2px solid;
  border-image-source: linear-gradient(to right, red, orange);
  border-image-slice: 1;
  height: 65vh;
}

.board-row {
  display: flex;
  flex-direction: row;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin: 2px;
}

button:hover {
  color: white;
  cursor: pointer;
  border: 1px solid red;
}

.board-row span button {
  width: 200px;
}

.operation {
  background-color: rgb(209, 149, 57);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  font-size: large;
  font-weight: 800;
  padding-top: 15px;
  width: 350px;
  margin: auto;
}

a,
p {
  color: white;
}

.midd {
  width: 600px;
  margin: auto;
  padding-top: 20px;
}
