h2 {
  width: 380px;
  text-align: right;
  height: 50px;
  background-color: honeydew;
  padding: 10px;
}

.container {
  width: 400px;
  margin: auto;
  border: 1px solid gray;
  text-align: center;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-row button {
  width: 100px;
  height: 80px;
}

.board-row span button {
  width: 200px;
}

.operation {
  background-color: rgb(209, 149, 57);
}
